@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #3b82f6; /* Blue */
    --color-secondary: #64748b;
    --color-accent: #2563eb;
  }

  .dark {
    --color-primary: #60a5fa;
    --color-accent: #3b82f6;
    background-color: #020617; /* Deep slate-950 */
    color: #f1f5f9;
   } 

  /* Custom Theme: Emerald */
  [data-theme='emerald'] {
    --color-primary: #10b981;
    --color-accent: #059669;
  }

  /* Default Light Mode Styles */
  body {
    @apply transition-colors duration-300;
    @apply bg-white text-slate-900 transition-colors duration-300;
  }

  /* Dark Mode Styles */
  .dark body {
    @apply bg-slate-950 text-slate-100;
  }
}